
    <html>
        <head>
            <title>CSS</title>
            </style>
                h1{
                    font-family: Comic Sans MS;
                    color:purple;
                }
            </style>
        </head>
        <body>
            <h1>Hellow</h1>
        </body>
    </html>

















font-size:200px;
color:"Orange;
}